:root {
  --primary-color: #105652;
  --color-primary-variant: #fbf3e4;
  --color-black: #000000;
  --color-dark: #3a3845;
  --color-red: #b91646;
  --color-white: #fff;
  --color-light: #dfd8ca;

  --width: 85%;
  --mobile-width: 92%;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
.app{
  background: transparent;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--color-dark);
  background-color: var(--color-white);
}

.container {
  width: var(--width);
  margin: 0px auto;
}

.section {
  padding: 7rem 0 0 0;
}
.active{
  border-bottom: 3px solid var(--primary-color);  
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--color-dark);
  font-family: "Roboto Slab", serif;
}

h1 {
  font-size: 4rem;
  letter-spacing: 0.1rem;
  line-height: 0.8;
}

h2 {
  font-size: 2.5rem;
  font-weight: lighter;
}

h3 {
  font-size: 1.8rem;
}

/* Nav bar */
nav {
  width: 100vw;
  height: 4rem;
  display: grid;
  position: fixed;
  z-index: 2;
  background-color: var(--color-primary-variant);
  box-shadow: 0 0.6rem 0.6rem #dddbd8;
}

nav button {
  display: none;
}

nav .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#logo{
  font-weight: bolder;
  color: var(--primary-color);
}
nav .container ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .container ul li {
  padding: 0px 15px;
}

nav a {
  color: var(--color-dark);
}
nav a:hover {
  color: var(--primary-color);
}

nav .navIcons {
  height: 100%;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right:3rem;
  cursor: pointer;
}

nav .navIcon {
  padding: 7px;
}

/* header */

header .container {
  display: flex;
  flex-direction: row;
}

header .headerItem {
  overflow: hidden;
  position: relative;
  top: 8.5rem;
  vertical-align: middle;
  text-align: center;
  margin: auto;
}

header .headerItem .info {
  width: 50vw;
  text-align: center;
  padding: 30px;
}

header .headerItem .info h1 {
  line-height: 100%;
  margin-bottom: 1rem;
  animation-name: dropin;
  animation-duration: 2s;
}

header .headerItem .headerImage:hover{
  transform: rotate(90deg);
  transition: transform 3s ease-in;
}

@keyframes dropin {
  from {
    margin-top: -70%;
  }

  to {
    margin-top: 0%;
  }
}

header .headerItem img {
  clip-path: circle(50% at 50% 50%);
  width: 33vw;
  height: auto;
  margin: 20px 30px 10px 10px;
}
/* features section */

.features {
  margin-top: 16rem;
  width: var(--width);
  display: grid;
  grid-template-columns: 1fr 1fr  1fr 1fr;
  align-items: center;
  padding: 1rem;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.featureIcon {
  width: 50px;
  height: 50px;
}

.featureTitle {
  font-size: 18px;
  font-weight: 600;
  margin: 20px;
  color: var(--color-dark);
}

.featureDesc {
  color: gray;
  width: 50%;
  height: 100px;
}
/* video section*/
.container.section.video {
  text-align: center;
  margin-top: 3rem;
}

.container.section.video h2,
p {
  margin-bottom: 15px;
}
video {
  width: 60vw;
  cursor: pointer;
}

/* product section */
.container.section.product {
  width: var(--width);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 6rem 0 0;
  align-items: center;
}

.container.section.product .productInfo {
  padding: 0 2rem 0 0;
}

.container.section.product h3 {
  margin-bottom: 1rem;
}

.container.section.product .imgAndCart {
  text-align: center;
  border-radius: 0.7rem;
  box-shadow: 5px 5px 30px rgb(196, 193, 193);
  overflow: hidden;
}
.container.section.product .imgAndCart:hover {
  box-shadow: 5px 5px 18px rgb(196, 193, 193);
}
.container.section.product img {
  width: 100%;
  height: 60%;
  border-radius: 0.7rem 0.7rem 0 0;
  transition: transform 1s ease-out;
}

.container.section.product img:hover {
  transform: scale(1.03);
  object-fit: cover;

  transition:  0.3s;
  overflow: hidden;
}

.container.section.product .weightSelect {
  margin-top: 1rem;
}

.container.section.product .weightSelect button {
  cursor: pointer;
  background-color: #fff;
  margin: 0 15px;
  padding: 10px;
  border-radius: 10px;
}

.container.section.product .weightSelect button:hover {
  background-color: var(--primary-color);
  color: var(--color-primary-variant);
}

.addToCartBtn {
  box-shadow: 0px 0px 1px 1px var(--primary-color);
  background-color: var(--color-primary-variant);
  color: var(--primary-color);
  border-radius: 15px;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: var(--color-dark);
  font-size: 14px;
  font-weight: bold;
  padding: 8px 16px;
  text-decoration: none;
  margin: 2rem 0 1rem;
}
.addToCartBtn:hover {
  background-color: var(--color-light);
  color: var(--primary-color);
}

/* Testimonial section */
.testimonial-section-header{
  text-align: center;
  margin: 7rem 0 5rem;
}
.swiper{
  width: var(--width);
  height: 100%;
}

.swiper-wrapper{
  margin-bottom: 2.5rem;
}

.swiper-slide{
  display: flex;
  align-items: center;
  gap:5rem;
}

.swiper-slide img {
  width: 5rem;
  height: 5rem;
  margin-left: 10rem;
  border-radius: 50%;
}
.swiper-slide .details {
  margin-right: 10rem;
}

.swiper-slide .details h4{
  color: var(--color-dark);
  font-size: 1rem;
  margin: 0.5rem 0;
}

/* FAQ section */
#faqs h2{
  text-align: center;
  margin: 7rem 0;
}

#faqs .content{
  display: grid;
  gap: 1rem
}

#faqs .content article{
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  gap:1.5rem;
  height: fit-content;
  background: var(--color-primary-variant);
  cursor: pointer;
}
#faqs .content article:hover{
  background: var(--color-light)
}

#faqs .content article:before{
  content: '\002B';
  color: var(--color-dark);
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
#faqs .content article.openFaq:before{
  content: "\2212";
}
#faqs .content article p{ 
  display: none;
}

#faqs .content article.expand p{  
  padding-top: 1rem;
  display: block;
}

#faqs a.btn{
  display: block;
  margin: 0 auto;
  width: 12rem;
  text-align: center;
  margin-top: 2rem;
}

/* Footer section */
footer{
  background: var(--color-primary-variant);
  margin-top: 7rem;
  padding-top: 5rem;
  font-size: 0.7rem;
  color: var(--color-dark);
}

footer .container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5rem;
  justify-content: space-between;
}

footer .container p, ul{
  margin: 1rem 0 1rem;
}

footer .container .f1 .subscribe{
  border: 1px solid var(--primary-color);
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 1.5rem;
}

footer .container .f1 .subscribe input{
background: transparent;
color: var(--color-dark);
margin-left: 0.3rem;
}

footer .container .f1 .subscribe button{
background-color: transparent;
width: 1.5rem;
height: 100%;
margin-right: 0.3rem;
}

footer .container .f1 .subscribe button:hover{
cursor: pointer;
}

footer .container .f1 .subscribe img{
  width: 1.3rem;
  height: 100%;
}


footer .container ul li{
  margin-bottom: 0.5rem;
}

footer .container ul li a{
color: var(--color-dark);
}

footer .container ul li a:hover{
color: var(--primary-color);
text-decoration: underline;
}


footer .container .socialMedia{
  display: flex;
  gap: 1rem;
}

footer .container .f4 .socialMedia li img{
  width: 1rem;
  height: auto;
  justify-content: space-between;
  cursor: pointer;
}

footer .copyright{
  text-align: center;
  margin-top: 4rem;
  padding-bottom: 1rem;
  background:var(--color-primary-variant);
}

/* Media Queries (Tablets) */
@media screen and (max-width:1024px) {
  h1{
    font-size: 3.5rem;
  }
  h2{
    font-size: 2rem;
  }
  h3{
    font-size: 1.2rem;
  }
  h4{
    font-size: 1rem;
  }
  h5{
    font-size: 0.8rem
  }
  p{
    line-height: 1.5rem;
    font-size: 0.8rem;
  }
  .container{
    width: var(--mobile-width);
  }
/* Navbar */

  nav .container{
    width: 100%;
  }
  nav #logo{
    margin-left: 2rem;

  }
  nav .container ul{
    position: fixed;
    top: 3rem;
    right: 0;
    flex-direction: column;
    width: 13rem;
    height:100vh;
    background: var(--primary-color);
    box-shadow:  1rem 0 2rem rgba(0, 0, 0, 0.2);
    z-index: 2;
   display: none;
  }
  nav .container ul li{
    height: 4rem;
    display: flex;
    align-items:center;
  }
  nav .container ul li a{
   color: var(--color-white);
    width: 100%;
  }
  nav .navIcons {
    height: 35px;
    width: 10rem;
  }
  nav .navIcons .navIcon{
    width: 35px;
    margin-right: 2.5rem;
  }
  nav button{
    display: inline-block;
    cursor: pointer;
    background: transparent;
    margin-right: 2rem;
  }
  nav button#closeBtn{
    display: none;
  }

  .swiper-slide img {
    margin-left: 5rem;
  }
  .swiper-slide .details {
    margin-right: 5rem;
  }
  footer .f1{
    padding: 0 5rem 0 0;
  }
  footer .container{
    grid-template-columns: 1fr 1fr;
  }
}
  /* Media queries(Mobile Phones) */
  @media screen and (max-width:600px) {
    h1{
      font-size: 1.7rem;
    }
    h2{
      font-size: 1.3rem;
    }
    h3{
      font-size: 1rem;
    }
    h4{
      font-size: 0.7rem;
    }
    h5{
      font-size: 0.7rem;
    }
    p{
      font-size: 0.8rem;
    }
    section{
      padding-top: 5rem;
    }

    /* Navbar */
    nav {
      width: 100%;
      height: 4rem;
      display: flex;
      position: fixed;

    }

    nav .navIcons {
      height: 35px;
      width: 5rem;
      margin-left: 2rem;
    }
    nav .navIcons .navIcon{
      width: 35px;
      margin-right: 1rem;
    }
     /* Header */
    header .headerItem {
      top: 5rem;
    }
    /* Video */
    .container.section.video {
      margin-top: 0rem;
    }
    video {
      width: var(--width);
    }
    .container.section.product {
      width: var(--width);
      display: flex;
      flex-direction: column;
      padding: 3.5rem 0 0;
      align-items: center;
    }
    .testimonial-section-header{
      margin: 5rem 0 2.5rem;
    }

    .swiper-slide{
      gap: 0.5rem;
      flex-direction: column;
      align-items: center;

    }
    .swiper-slide img {
      margin:auto;
    }
    .swiper-slide .details {
      margin:0 3rem 0;
    }
    #faqs h2{
      margin: 4rem 0 2.5rem;
    }
    footer .container{
      width: 100%;
      grid-template-columns: 1fr;
      gap: 3rem;
      text-align: center;
    }
    footer .f1{
      padding: 0 3rem;
    }
    footer .socialMedia{
      justify-content: center;
    }
  }